name: lint-soft
on: [push, pull_request]

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint-soft
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.x

      - uses: actions/checkout@v4
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          args: --config .golangci-soft.yml --issues-exit-code=0
          only-new-issues: true
